* {
  box-sizing: border-box;
  position: relative;
}

body {
  overflow-x: hidden;
  margin: 0;
  background-color: grey;
}

.header {
  display: flex;
background-color: white;
margin: 0;
padding: 30px;
position: fixed;
width: 100%;
top: 0;
z-index: 100;
}

.header h2 {
color: black;
font-size: 35px;
font-family: 'Ubuntu', sans-serif;
margin: 15px;
padding: 10px;
left: 18%;
}
#change-color{
  color: green;
}
.header h2:hover {
cursor: pointer;
color: green;
}

.header ul {
  display: flex;
  top: 30px;
  left: 90%;
  padding-left: 0;
  margin: 0;
}

.header ul .li {
  margin-left: 20px;
  list-style-type: none;
}

.header ul .li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Ubuntu', sans-serif;
  border-bottom: 2px solid transparent;
  transition:  border-bottom 0.5s;
}

.header ul .li a:hover{
    border-bottom: 2px solid green;
}
/* 
.property-wrapper{
  width: 100%;
  min-height: 20vh;
  height: auto;
  background-color: rgb(109, 66, 73);
  display: grid;
  padding: 100px;
  margin: 20px;
  border-radius: 10px 10px 50px 10px;
  z-index: -1;
 /* display: none; */
 
*/

.property-wrapper a{
color: black;
}


.property-wrapper{
  display: none;
  padding: 50px;
  position: absolute;
  background-color: white;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 50px 10px;
  z-index: 1;
}

.has-dropdown:hover .property-wrapper {
  display: block;
}

.property-wrapper a {
  color: #333;
  padding: 10px;
  text-decoration: none;
  display: block;
}
.section{
  background-image: url(/img/property-3.jpg);
}
